<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>KITICE</title>
		<meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="css/animations.css" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="css/style.css" rel="stylesheet">

		<!-- Custom css -->
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ -->
		<header class="header fixed clearfix navbar navbar-fixed-top" style="background-color:#555">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" style="width:80px" src="images/logo.png" alt="Worthy"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-name-and-slogan smooth-scroll">
								<div class="site-name" style="font-size:40px;"><a href="#banner"></a></div>
								<!-- <div class="site-slogan">Free Bootstrap Theme by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a></div> -->
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- ================ -->
							<div class="main-navigation animated">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li><a href="/">Home</a></li>
												<li><a href="/papersubmission">Paper Submission</a></li>
												<li><a href="/registration">Registration</a></li>
												<li><a href="/venue">Venue</a></li>
												<li><a href="/contact">Contact</a></li>
												<li><a href="/blog">Blog</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>
		</header>

    <div>
      <div class="banner-caption">
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <h1 style="color:#333;margin-top:-80px">Blog</h1>
							<hr style="border-top:2px solid #000">
              <ul>
              <p style="font-size:18px;">
<strong style="font-size:22px;">Press Release</strong><br><br><br>
<strong style="font-size:22px;">KIT, Coimbatore</strong> – The London International Conference on Education (KITICE) will be held at the University of Cambridge, UK, from the 11th to 14th of December, 2017. The KITICE is an international conference that is solely dedicated to upholding the advancement of the theories and practices in education.<br><br>
    The KITICE promotes collaborative excellence between professionals and academicians of education. Over the years, KITICE has been developing a strong and solid network of excellent pioneers and researchers in education around the world.<br><br>
    KITICE provide a great opportunity for many professionals in the field of education including academicians who have cross-disciplinary expertise, interests, and skills that can bridge the knowledge gap, promote the evolution of educational pedagogy, and build high research esteem.<br><br>
    KITICE is one of the largest and most attended international conferences in the world. It is attended by graduates, postgraduates, undergraduates, faculty including teachers, lecturers, researchers, deans, professors, department heads, study abroad advisors, librarians, chancellors, vice chancellors, university and college presidents, government departments, policy makers as well as all of the stakeholders who are passionate about bringing innovative, rigorous, and creative ways of resolving the barriers to learning practices..<br><br>Attending KITICE will definitely be a milestone in you and your professional career in education. International conferences like this showcase not only your background and interest in education but also build your network with local and foreign participants..<br><br>
    KITICE is also a channel for all participants to learn latest research findings and the future impacts of these findings. This is also the best opportunity for you to showcase and promote your brand, products, and services that are useful and to many professionals and academicians around the world. Visit www.liceducation.org for more information about the upcoming KITICE..<br><br></p>
              </ul>
          </div>
        </div>
      </div>
      <footer id="footer" style="border-top:1px solid #000">
        <div class="subfooter">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">Copyright © 2017 Design by <a target="_blank" href="#e">Baymax & Team</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>


</body>
</html>
