<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>KITICE</title>
		<meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="css/animations.css" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="css/style.css" rel="stylesheet">

		<!-- Custom css -->
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ -->
		<header class="header fixed clearfix navbar navbar-fixed-top" style="background-color:#555">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" style="width:80px" src="images/logo.png" alt="Worthy"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-name-and-slogan smooth-scroll">
								<div class="site-name" style="font-size:40px;"><a href="#banner"></a></div>
								<!-- <div class="site-slogan">Free Bootstrap Theme by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a></div> -->
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- ================ -->
							<div class="main-navigation animated">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li><a href="/">Home</a></li>
												<li><a href="/papersubmission">Paper Submission</a></li>
												<li><a href="/registration">Registration</a></li>
												<li><a href="/venue">Venue</a></li>
												<li><a href="/contact">Contact</a></li>
												<li><a href="/blog">Blog</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>
		</header>

    <div>
      <div class="banner-caption" style="margin-top:-85px;">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="container hidden-xs">
                <img src="images/paper2.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-10">
              <h1 style="font-size:42px;margin-top:32px;color:#333">Paper Submission</h1>
              <hr style="border-top:1px solid #000">
              <h2 style="color:#555;text-decoration:none">Types of Submissions</h3>
              <p style="color:#555;font-size:16px">Submissions are accepted in English, French, German, Portuguese, and Spanish. The LICE-2017 encourages the following types of submissions:</p>
              <ul>
                <li><strong>Abstracts:</strong> Abstracts of completed paper, extended abstract or proposed research in any of the topic areas listed or related areas. The abstract for proposed research should include the research objectives, proposed methodology, and a discussion of expected outcomes. It should not have more than 600 words.</li><br>
                <li><strong>Extended Abstracts:</strong> The Extended Abstract is a work in progress research or project that is not yet completed. The extended abstract should not exceed 2 pages (including introduction, body of knowledge and conclusion, supported by not more than 10 references).</li><br>
                <li><strong>Full Research Papers:</strong> Completed research papers in any of the topic areas listed above or related areas. This is a completed research work or project): A total of 4 to 6 pages for a paper (including all figures, tables, and references.</li><br>
                <li><strong>Student Papers:</strong> Research done by students in any of the topic areas listed above, or related areas. A total of 3 to 4 pages for a student paper including all figures, tables, and references.Case Studies: Case studies in any of the topic areas listed above, or related areas. Case studies should not exceed 4 pages including introduction, body of knowledge and conclusion, supported by not more than 10 references.</li><br>
                <li><strong>Case Studies:</strong> Case studies in any of the topic areas listed above, or related areas. Case studies should not exceed 4 pages including introduction, body of knowledge and conclusion, supported by not more than 10 references.</li><br>
                <li><strong>Work-in-Progress (Reports or Proposals for Future Research):</strong> Incomplete research or ideas for future research in order to generate discussion and feedback in any of the topic areas listed above, or related areas. A total of 4 to 6 pages for a work-in-progress reports or proposals for future research including all figures, tables, and references</li><br>
              </ul>
          </div>
        <footer id="footer" style="border-top:1px solid #000">
          <div class="subfooter">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright © 2017 Design by <a target="_blank" href="#e">Baymax & Team</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        </div>
      </div>
    </div>



  </body>
  </html>
